extends layout

block content
  h1 Settings
  form(method='post' action='/alerts/new')
    .form-group
      label(for='name') Alert name
      input#name.form-control(type='text', placeholder='Alert name', name='name', value=alert.name, required)
    .form-group
      label(for='currencyName') Alert currency name
      select#currencyName.form-control.marketname-typeahead(type='select', placeholder='Currency Name (eg BTC-ETH)', name='currencyName', value=alert.currencyName,  required)
        for marketName in marketNames
          option(value='#{marketName}' )
            | #{marketName}
    .form-group
      label(for='threshold') Alert threshold
      input#threshold.form-control(type='text', placeholder='Threshold to trigger alert at', name='threshold', value=alert.threshold, required)
    .form-group
      label(for='thresholdType') Alert when value reaches above or falls below threshold
      select#thresholdType.form-control(name='thresholdType', value=alert.thresholdType, required)
        option(value='above') Above
        option(value='below') Below
    .form-group
      #last.row

    input.btn.btn-primary(type='submit' value='Create')

block javascripts
  script(src='../javascripts/createAlert.js')