extends layout

block content
  .row.justify-content-center
    .col.col-lg-5.col-md-6
      br
      h1 Settings
      br
      p I don't encrypt anything. It's all stored as plain text. Just FYI.
      form(method='post' action='/settings')
        //- .form-group
        //-   label(for='bittrexKey') Bittrex API Key
        //-   input#bittrexKey.form-control(type='text', placeholder='Bittrex API Key', name='bittrexKey', value=user.bittrexKey)
        //-   small#emailHelp.form-text.text-muted This should have READ access ONLY.
        //- .form-group
        //-   label(for='bittrexSecret') Bittrex API Secret
        //-   input#bittrexSecret.form-control(type='password', placeholder='Bittrex API Secret', name='bittrexSecret', value=user.bittrexSecret)
        //-   small#emailHelp.form-text.text-muted This should have READ access ONLY.
        .form-group
          label(for='email') Email address
          input#email.form-control(type='email', placeholder='Email address', name='email', value=user.email)
        .form-group
          label(for='pushoverUser') Pushover user
          input#pushoverUser.form-control(type='text', placeholder='Pushover user', name='pushoverUser', value=user.pushoverUser)
        .form-group
          label(for='pushoverToken') Pushover token
          input#pushoverToken.form-control(type='password', placeholder='Pushover token', name='pushoverToken', value=user.pushoverToken)

        input.btn.btn-primary(type='submit')
